# Idea stuff
build
generated
src/generated
classes
.gradletasknamecache
*.iml
.idea
.gradle
gradle/ext/
/bin/
out/

# Eclipse
.project
.classpath
.settings/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride