# Idea stuff
build
generated
src/generated
classes
.gradletasknamecache
*.iml
.idea
.gradle
gradle/ext/
/bin/
out/
*.bat

# Eclipse
.project
.classpath
.settings/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
rest-assured-fat-3.3.0.jar
aws-java-sdk-fat-1.11.228.jar
azure-storage-blob-fat-10.0.3-Preview.jar
build.gradle.copy
